* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  overflow: hidden;
}

canvas {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

.repoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  top: 2rem;
  right: 2rem;
  background-color: #fafafae3;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  padding: 0.5rem 0.75rem;
}

.repoContainer:hover {
  transform: scale(1.07);
}

.githubLogo {
  width: 1.75rem;
}

.name {
  font-size: 1rem;
  font-weight: 700;
}

.musicName {
  position: absolute;
  top: 4.25rem;
  left: 3rem;
  font-size: 1rem;
  font-weight: 300;
  z-index: 1;
  color: #f1f1f1;
  font-style: italic;
  opacity: 0;
}

#audio {
  display: none;
}

.controls {
  display: none;
  z-index: 4;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.11);
  background-color: #f1f1f5;
  animation: popUp 0.9s ease-in-out forwards;
  gap: 1rem;
}

.controls > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.controls > button > img {
  width: 2rem;
}

.uploadBtn {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.playBtn {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

#fileUpload {
  display: none;
  cursor: pointer;
}

.startBtn {
  transform: translate(-50%, 0%);
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  background-color: transparent;
  border-radius: 0.125rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(27, 245, 100);
  color: rgb(27, 245, 100);
}

.startBtn:hover {
  background-color: rgb(27, 245, 100);
  color: #111111;
}

#fileUpload {
  margin: 0.25rem 1rem;
  height: 100%;
  color: #f1f1f1;
}

@keyframes popUp {
  from {
    opacity: 0;
    bottom: -3rem;
  }

  to {
    opacity: 1;
    bottom: 2rem;
  }
}
