* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #111111;
}

canvas {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

.title {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 1;
  color: #fff;
  animation: appear 1.1s ease forwards;
}

.musicName {
  position: absolute;
  top: 4.25rem;
  left: 3rem;
  font-size: 1rem;
  font-weight: 300;
  z-index: 1;
  color: #f1f1f1;
  font-style: italic;
  animation: appear 1.1s 0.5s ease forwards;
  opacity: 0;
}

#audio {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 1.5rem;
}

.controls {
  z-index: 4;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 9px 1px rgba(7, 7, 7, 0.1);
}

.playBtn {
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  background-color: rgb(52, 245, 27);
  border-radius: 0.125rem;
  transition: all 0.5s ease;
}

.playBtn:hover {
  transform: scale(1.1);
}

#fileUpload {
  margin: 0.25rem 1rem;
  height: 100%;
  color: #f1f1f1;
}

@keyframes appear {
  from {
    opacity: 0;
    left: 0rem;
  }

  to {
    opacity: 1;
    left: 1rem;
  }
}
